:root{

    --primaryFont: "Open Sans", sans-serif;

    --greyMax: #1F2933;
    --grey900: #323F4B;
    --grey800: #3E4C59;
    --grey700: #52606D;
    --grey600: #616E7C;
    --grey500: #7B8794;
    --grey400: #9AA5B1;
    --grey300: #CBD2D9;
    --grey200: #E4E7EB;
    --greyMin: #F5F7FA;

    --cyanMax: #05606E;
    --cyan900: #07818F;
    --cyan800: #099AA4;
    --cyan700: #0FB5BA;
    --cyan600: #1CD4D4;
    --cyan500: #3AE7E1;
    --cyan400: #62F4EB;
    --cyan300: #92FDF2;
    --cyan200: #C1FEF6;
    --cyanMin: #E1FCF8;

    --blueMax: #002159;
    --blue900: #01337D;
    --blue800: #03449E;
    --blue700: #0552B5;
    --blue600: #0967D2;
    --blue500: #2186EB;
    --blue400: #47A3F3;
    --blue300: #7CC4FA;
    --blue200: #BAE3FF;
    --blueMin: #E6F6FF;
    
}

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font-family: inherit;
    font-size: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body{
    font-size: 16px;
    font-family: var(--primaryFont);
}

/* Layout for the whole page */

.layout-container{
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    max-height: 100vh;
}

/* Layout and styling for the sidebar */

.layout-container .sidebar{
    grid-row: 1 / 3;
    padding: 40px 25px 25px 25px;
    border-right: 2px solid var(--grey200);
}

.sidebar .dashboard-name{
    font-size:1.5rem;
    font-weight:700;
    padding-left: 14px;
}

.sidebar .menu{
    list-style-type: none;
    display: grid;
    gap:6px;
    margin-top:35px;
}

.sidebar .menu-item{ 
    display: grid;
    grid-template-columns: auto 1fr;
    gap:6px;
    text-decoration: none;
    font-weight:600;
    letter-spacing: 0.6px;
    padding:12px 8px;
    border-radius: 8px;
    font-size:1rem;
    color:var(--greyMax);
}

.sidebar .active{
    background-color: var(--blue400);
    color:#ffffff;
}

.sidebar .menu-item:hover{
    background:var(--grey200);
}

.sidebar .active:hover{
    background-color: var(--blue500);
}

/* Layout and styling for the top bar */

.layout-container .top-bar{
    padding:20px 40px;
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    align-items: center;
    gap:40px;
    box-shadow: 4px 1px 3px 0px rgba(126,126,126,0.15);
    z-index: 1000;
    
}

.top-bar #searchbar{
    border: none;
    border-radius: 8px;
    padding:12px 20px 12px 45px;
    min-width: 0;
    width: min(300px, 100%);
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position-x: 12px;
    background-position-y: 10px;
    background-color: var(--greyMin);
    color: var(--grey600);
    font-weight:600;
    font-size:0.9rem;
    font-family: var(--primaryFont);
}

.top-bar #searchbar::placeholder{
    color: var(--grey400);
    font-weight:600;
    font-size:0.9rem;
    font-family: var(--primaryFont);
}

.top-bar .primary-button{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap:8px;
    background-color: var(--blue500);
    border: none;
    padding: 5px 14px;
    border-radius: 8px;
    color:#fff;
    font-weight: 650;
    font-size:1rem;
}

.top-bar .primary-button>span{
    font-size: 1.5rem;
    font-weight: 600;
}

.top-bar .primary-button:hover{
    background-color: var(--blue600);
    cursor: pointer;
}

.top-bar .notification{
    width:32px;
    transition: all 0.35s;
}

.top-bar .notification:hover{
    cursor: pointer;
    transform:rotate(25deg);
}


.top-bar .profile, .trending .trending-img{
    width:50px;
    border-radius: 50%;
}

.top-bar .profile:hover, .trending .trending-img:hover{
    cursor: pointer;
    opacity: 0.8;
}

/* Layout and styling for the main content area that includes projects, announcements and the trending section */

.layout-container .main-content{
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: auto 1fr;
    background-color: var(--greyMin);
    overflow: scroll;
}

/* Layout and styling for projects section */

.layout-container .projects{
    padding:40px;
    grid-row: 1 / 3;
}

.layout-container .projects-title, .announcements .board-title, .trending .trending-title{
    margin-bottom:20px;
    color: var(--greyMax);
}

.layout-container .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.layout-container .card{
    display: grid;
    padding:20px;
    color: var(--grey900);
    background-color: #ffffff;
    border-radius: 8px;
    border-left: solid 6px var(--cyan800);
    box-shadow: 0px 0px 2px 1px rgba(126,126,126,0.15);
}

.layout-container .card-title{
    font-weight:600;
    font-size:1.25rem;
    margin:12px 0;
}

.layout-container .card-icons{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: flex-end;
    justify-content: flex-end;
    gap:20px;
    margin-top:20px;
}
.layout-container .project-icon{
    padding:4px;
    border-radius: 50%;
}

.layout-container .project-icon:hover{
    background-color: var(--cyan200);
    cursor: pointer;
}

/* Layout and styling for the announcements section */

.layout-container .announcements, .layout-container .trending{
    padding:40px 30px 30px 30px;
    color: var(--grey900);
}

.announcements .board-item h3{
    font-size:1.1rem;
    font-weight: 550;
    margin:12px 0px 6px 0px;
    color: var(--greyMax);
}
.announcements .board-container, .trending .trending-container{
    display: grid;
    gap:30px;
    background-color: #ffffff;
    padding:20px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 1px rgba(126,126,126,0.15);
}

/* Layout and styling for the trending section */

.trending .trending-item{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap:15px;
}

.trending .trending-handle{
    font-weight: 650;
    color:var(--greyMax);
}

.trending .trending-desc{
    font-weight: 500;
    color:var(--grey500);
    font-size:0.9rem;
}

/*Scrollbar styling*/

  /* Width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--grey500);
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--grey600);
  }

/* Responsive design */

@media all and (max-width: 1024px){
    .layout-container .main-content{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .layout-container .projects{
        padding:40px;
        grid-row: 1 ;
    }
}

@media all and (max-width: 768px){
    .layout-container{
        grid-template-columns: 1fr;
    }
    .layout-container .sidebar{
        display: none;
    }
    .layout-container .main-content{
        grid-column: 1;
    }
}

@media all and (max-width: 480px){
    .layout-container .top-bar{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));;
        justify-items: center;
    }
}